html, body {
  color: aliceblue;
  background-color: #1e232e;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  margin: auto;
  padding: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.category{
  margin-top: 2rem;
}
input{
  margin: 5px;
  padding: 5px;
  /* border-radius: 5px; */
  outline: none;
  border: 0;
  border-bottom: 2px solid lightgrey;
  background-color: inherit;
  color: aliceblue;
}
/* #cards */
/*@ overflow hidden no sacar imagen de su contenedor */
.contenedor{
  background-color: #1e232e9a;
  padding: 0.5rem;
}
.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.title{
  font-size: 0.7rem;
}
.category-name{
  text-align: center;
  text-transform: capitalize;
}